#newPostBtn{
    position: fixed;
    bottom: 80px;
    right: 30px;

    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    width: 13%;
    height: 5%;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    
}

span{
  color:white;
}


#newPostBtn:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

h5{
  color: rgb(168, 168, 168);
}

.modal-content{
  background-color: #1a1919;
}

#postImgInput{
  color: white;
}

.btn{
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
  color: white;
}