
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header ">
        <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <!-- <span aria-hidden="true">&times;</span> -->
        </button>
        </div>
        <div class="modal-body" id="modal-bodyID">
            <span>Description:</span>
            <div class="reimbDescription">
                
                <textarea id="description" placeholder="Put Description Here" [(ngModel)]="descriptionInput"> </textarea> 
            </div>
            <div class="reimbSubmitted">
                <img src="">
                    <br>
                    <input type="file" id="postImgInput" (change)="handleFileInput($event)">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" id="confirmBtn" data-bs-dismiss="modal" aria-label="Close" (click)="createPost()">Confirm</button>
        </div>
    </div>
    </div>
</div>


<button type="button" id="newPostBtn" data-bs-toggle="modal" data-bs-target="#exampleModal"> New Post </button>
