<div id="info-container">
    <div class="card">
        <div class="card-header">
            <div id="userinfo">
                <img src="https://hello-s3-js.s3.us-west-1.amazonaws.com/project/JimboBagginsProfileImg" alt="testImg">
                <h5>User Full name goes here</h5>
            </div>
            <span id="timestamp">
                Time Stamp goes here
            </span>
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="description" id="postimg">
                    <img src="{{this.post.post_img}}" alt="postImg">
                </div>
                <div class="description">
                    <textarea id="description" disabled> {{this.post.post_description}} </textarea> 
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div id="info-container">
    <div class="card">
        <div class="card-header">
            <div id="userinfo">
                <img src="https://hello-s3-js.s3.us-west-1.amazonaws.com/project/JimboBagginsProfileImg" alt="testImg">
                <h5>User Full name goes here</h5>
            </div>
            <span id="timestamp">
                Time Stamp goes here
            </span>
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="description" id="postimg">
                    <img src="https://hello-s3-js.s3.us-west-1.amazonaws.com/project/JimboBagginsProfileImg" alt="testImg">
                </div>
                <div class="description">
                    <textarea id="description" disabled> put description here </textarea> 
                </div>
            </div>
        </div>
    </div>
</div> -->
