.err{
    color: red;
}


body {
    background-color: #F3EBF6;
    font-family: 'Ubuntu', sans-serif;
}

h1{
    color: rgba(165, 165, 165, 0.568);
    font-size: 36px;
    text-transform: bold;
    text-shadow: rgb(161, 153, 152);
    box-shadow: rgb(184, 175, 173);

}

.err{
    color: red;
    display: flex;
    justify-content: center;
}


.content {
    background-color: #FFFFFF;
    width: 500px;
    height: 650px;
    margin: 7em auto;
    border-radius: 0px;
    box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.14);
}

.register-title {
    padding-top: 40px;
    color: rgba(0, 0, 2, 0.322);
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    font-size: 27px;
    display: flex;
    justify-content: center;
}

.un {
width: 76%;
color: rgb(38, 50, 56);

font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px;
border: none;
border-radius: 0px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 56px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.form-item{
    padding: 5px;
}

.pass {
        width: 76%;
color: rgb(38, 50, 56);

font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 0px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 56px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.login {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #001531, #001531);
    border: 0;
    padding-left: 50px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* .check-session {
    cursor: pointer;
      border-radius: 5em;
      color: #fff;
      background: linear-gradient(to right, #001531, #001531);
      border: 0;
      padding-left: 50px;
      padding-right: 40px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: 'Ubuntu', sans-serif;
      margin-left: 35%;
      font-size: 13px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  } */

.check-session{
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    margin-left: 75px;
    padding-top: 5px;
    padding-bottom: 10px;
    
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 10px;
    
    
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #050505;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}