<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


<!-- <form (submit)="registerUser()">
    <div class="err" *ngIf="errMessage">{{errMessage}}</div>
    <div>
        <input type="text" [(ngModel)]="usernameInput" placeholder="username" name="username">
    </div>
    <div>
        <input type="password" [(ngModel)]="passwordInput" placeholder="password" name="password">
    </div>
    <div>
        <input type="text" [(ngModel)]="firstnameInput" placeholder="firstname" name="firstname">
    </div>
    <div>
        <input type="text" [(ngModel)]="lastnameInput" placeholder="lastname" name="lastname">
    </div>
    <div>
        <button class="btn btn-primary">Register</button>
    </div>
</form> -->
<div class="content">
    <h3 class="register-title">Register</h3>
<form (submit)="registerUser()" class="form1">
 <!-- <p class="forgot" align="center"><a href="#">Forgot Password?</p>  -->
    <div class="err" *ngIf="errMessage">{{errMessage}}</div>
    <div class="form-item">
        <input type="text" id="username" class="un " name="username" [(ngModel)]="usernameInput"  placeholder="username"/> 
    </div>
    <div class="form-item">
        <input type="password" id="password" class="un " name="password" [(ngModel)]="passwordInput" placeholder="Please enter a password"/> 
    </div>
    <div class="form-item">
        <input type="text" id="firstname" class="un " name="firstName" [(ngModel)]="firstNameInput" placeholder="First Name"/> 
    </div>
    <div class="form-item">
        <input type="text" id="lastname" class="un " name="lastName" [(ngModel)]="lastNameInput" placeholder="Last Name"/> 
    </div>
    <div class="form-item">
        <input type="text" id="email" class="un " name="email" [(ngModel)]="emailInput" placeholder="Email"/> 
    </div>
    <div class="form-item">
        <input type="file" class="un " name="fileimg" (change)="handleFileInput($event)">
    </div>
    <div class="form-item">
        <button class="login" id="login-btn" name="button" >Register</button>
    </div>    
    <br>
</form>  

<script src="./script.js"></script>