
<div id="info-container">
    <div class="card">
        <div class="card-header ">
            <h5>{{this.user.user_first_name + " " + this.user.user_last_name}}</h5>
        </div>
        <div class="card-body ">
            <div class="err" *ngIf="errMessage">{{errMessage}}</div>
            <div class="okMes" *ngIf="okMessage">{{okMessage}}</div>
            <div class="card-text ">
                
                <div class="description">
                    <span>Username: </span>
                    <input type="text" id="username" [(ngModel)]="usernameInput"  placeholder={{this.user.username}}/> 
                </div>
                <div class="description">
                    <span>Password: </span>
                    <input type="password" id="password" [(ngModel)]="passwordInput" placeholder="Please enter a password"/> 
                </div>
                <div class="description">
                    <span>First Name: </span>
                    <input type="text" id="firstname"  [(ngModel)]="firstNameInput" placeholder={{this.user.user_first_name}}/> 
                </div>
                <div class="description">
                    <span>Last Name: </span>
                    <input type="text" id="lastname" [(ngModel)]="lastNameInput" placeholder={{this.user.user_last_name}}/> 
                </div>
                <div class="description">
                    <span>Email: </span>
                    <input type="text" id="email" [(ngModel)]="emailInput" placeholder={{this.user.user_email}}/> 
                </div>
                <div class="description">
                    <img src="{{this.user.user_img}}" alt="testImg">
                    <br>
                    <input type="file" id="fileImg" (change)="handleFileInput($event)">
                </div>
            </div>
                <button type="button" id="type" class="btn btn-secondary" (click)="updateUser()">Accept</button>
            </div>
    </div>
</div>