
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<div *ngFor="let post of postList " class="post-item">
    <!-- <app-posts [post]={{post}}></app-posts> -->
    <div id="info-container">
        <div class="card bg-dark mb-3" id="card-container">
            <div class="card-header">
                    <div class="post-created">
                        {{post.post_created}}
                    </div>
                    <div id="usernameHeader">
                        <span>
                            <img src={{post.user.user_img}} class="img" alt="userImg">
                        </span>
                        <div id="username-container">
                            <h5 class="name" id="{{'post'+post.post_id}}" (click)="goToAccount(post.user.username)" routerLink="/account">{{post.user.username}}</h5>
                        </div>
                        
                    </div>                
            </div>
            <div class="card-body">
                <div class="card-text">
            
                    <div class="description" id="postimg">
                        <img id="postImage" src= {{post.post_img}} alt="postImg">
                    </div>
                    <div class="description">
                        <textarea id="description" disabled> {{this.post.post_description}} </textarea> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-buttons">
    <button class="btn btn-dark" (click)="decrementPage()">Prev</button>
    <span id="pageNum" ><b>{{displayPage}}</b></span>
    <button class="btn btn-dark" (click)="incrementPage()">Next</button>
</div> 
<div class="pageSelector"></div>
