<div id="info-container">
    <div class="card">
        
            <img src="{{this.user.user_img}}" alt="testImg">
        
        <div class="card-header">
            <h5>{{this.user.user_first_name + " " + this.user.user_last_name}}</h5>
        </div>
        
        <div class="card-body">
            
            <div class="card-text">
                
                <div class="description">
                    <span>Username: </span>
                    <input type="text" id="username" placeholder="{{this.user.username}}" disabled/> 
                </div>
                <div class="description">
                    <span>First Name: </span>
                    <input type="text" id="firstname" placeholder={{this.user.user_first_name}} disabled/> 
                </div>
                <div class="description">
                    <span>Last Name: </span>
                    <input type="text" id="lastname" placeholder="{{this.user.user_last_name}}" disabled/> 
                </div>
                <div class="description">
                    <span>Email: </span>
                    <input type="text" id="email" placeholder="{{this.user.user_email}}" disabled/> 
                </div>
                
            </div>
        </div>
    </div>
</div>